<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>OverDue Task List (Today and Tomorrow)</h2>
    </div>
    <div class="form-group">
        <label for="name">Date</label>
        <input type="date" class="form-control" ng-model="string" id="date" required [(ngModel)]="_date" name="date" #date="ngModel">
        <div *ngIf="date.invalid && (date.dirty || date.touched)"
        class="alert">
  
          <div *ngIf="date.errors?.['required']" class="error-occur">
          Date is required.
           </div>
        </div>
    </div>
    <button (click)="overDueTask(date.value)" class="btn btn-primary">Overdue Task List</button><br>
    <div class="panel-body">
      <table class="table table-striped" id="tasklist">
        <thead>
          <tr>
            <th>Name</th>
            <th>Task Name</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks | async">
            <td>{{task.name}}</td>
            <td>{{task.taskname}}</td>
            <td>{{task.description}}</td>
            <td>{{task.priority}}</td>
            <td class="overdue-date">{{task.date}}</td>
            <td>{{task.status}}</td>
          </tr>
        </tbody>
      </table>
    <button (click)="list()" class="btn btn-primary">Task List</button><br>
    </div>
  </div>