<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Task List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped" id="tasklist">
        <thead>
          <tr>
            <th>Name</th>
            <th>Task Name</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Date</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks | async">
            <td>{{task.name}}</td>
            <td>{{task.taskname}}</td>
            <td>{{task.description}}</td>
            <td>{{task.priority}}</td>
            <td>{{task.date}}</td>
            <td>{{task.status}}</td>
            <td>
              <button (click)="updateTask(task.id)" class="btn btn-warning" style="margin-left: 10px">Update</button>
              <button (click)="deleteTask(task.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
              <button (click)="taskDetails(task.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
