<h3>Add Task</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="task.name" name="name" #name="ngModel">
      <div *ngIf="name.invalid && (name.dirty || name.touched)"
        class="alert">

        <div *ngIf="name.errors?.['required']" class="error-occur">
           Name is required.
        </div>

      </div>
    </div>

    <div class="form-group">
      <label for="name">Task Name</label>
      <input type="text" class="form-control" id="taskname" required [(ngModel)]="task.taskname" name="taskname" #taskname="ngModel">
      <div *ngIf="taskname.invalid && (taskname.dirty || taskname.touched)"
        class="alert">

        <div *ngIf="taskname.errors?.['required']" class="error-occur">
           Task Name is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Description</label>
      <input type="text" class="form-control" id="description" required [(ngModel)]="task.description" name="description" #description="ngModel">
      <div *ngIf="description.invalid && (description.dirty || description.touched)"
      class="alert">

        <div *ngIf="description.errors?.['required']" class="error-occur">
        Description is required.
         </div>
      </div>
    </div>

    <div class="form-group">
        <label for="name">Priority</label>
        <input type="text" class="form-control" id="priority" required [(ngModel)]="task.priority" name="priority">
    </div>

    <div class="form-group">
        <label for="name">Date</label>
        <input type="date" class="form-control" ng-model="string" id="date" required [(ngModel)]="task.date" name="date" #date="ngModel">
        <div *ngIf="date.invalid && (date.dirty || date.touched)"
        class="alert">
  
          <div *ngIf="date.errors?.['required']" class="error-occur">
          Date is required.
           </div>
        </div>
    </div>

    <div class="form-group">
      <label for="name">Status</label>
      <input type="text" class="form-control" id="priority" required [(ngModel)]="task.status" name="status">
    </div>

    <button type="submit" class="btn btn-danger">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Successfully submitted!</h4>
</div>
